/* styles for doc body*/
body {
    font-family: Arial, sans-serif; /* font */
    font-size: 40px;
    margin: 5px; 
    padding: 0; 
    background-color: #ffffff; /* background to white */
    color: #000; /* text color to black */
}

/* task list */
#tasks {
    list-style-type: none; /* bullet points */
    margin: 20px; /* add margin */
    padding: 0; /* remove padding in list */
}

/* individual tasks */
.task {
    background-color: #fff; /* background to white */
    border: 1px solid #ccc; /* grey border for task */
    padding: 10px; /* inside padding */
    margin-bottom: 10px; 
}

.task:hover{
    background-color: #86a5d0;
    cursor: pointer;
}

/* headings in task information */
.task-info h4, .task-info h5 {
    margin: 5px 0; /* vertical spacing, no horizontal spacing */
}

/*  form  */
input[type="text"], input[type="submit"], input[type = "password"], input[type = "date"], button {
    width: 100%; /* full container width */
    box-sizing: border-box; /* padding and border in the element's */
    padding: 8px; /* improve touch */
    margin-top: 5px; /* Space between form elements */
    min-height: 200px;
    font-size: 40px;
}

/* button styling */
button, input[type="submit"] {
    background-color: #000; /*  background for buttons set to black */
    color: white; /* contrasting text */
    border: none; 
    cursor: pointer; /* pointer cursor - hover */
}

.delete_btn {
    margin-top: 6px; /* Space between form elements */
}

.edit-task {
    display: none;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

