body {
    font-size: 40px;
}

input[type="text"], input[type="submit"], input[type="password"], button {
    width: 100%; /* full container width */
    box-sizing: border-box; /* padding and border in the element's */
    padding: 8px; /* improve touch */
    margin-top: 5px; /* Space between form elements */
    min-height: 200px;
    font-size: 40px;
}